<div class="container-fluid">
  <div id="small-header"></div>

  <div class="row my-5">
    <div class="col-lg-12 text-center">
      <h1 class="display-4">GeoART</h1>
    </div>
    <div class="col-lg-8 offset-lg-2">
      <div class="text-justify font-md my-3 mb-5">
        <p class="lead">
          <a class="link" data-state="geoart" href="#">GeoART </a>
          je aplikacija nastala u cilju unapređivanja nastave matematike na
          nivou osnovne škole. Ova aplikacija se koristi za geometrijske
          konstrukcije u ravni i jednostavna je za korišćenje.
        </p>
      </div>
    </div>
  </div>

  <div id="materials"></div>
</div>
